h1 {
  text-align: center;
  color: #4BF1DF;
  font-family: sans-serif;
}

h2 {
  text-align: center;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  background-color: teal;
  color: white;
}

a {
  color: #2DB3FF;
  text-decoration: none;
}

p {
  text-align: center;
  font-size: 20px;
}

h3 {
  text-align: center;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 750px;
  height: auto;
}
